*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
}

body{
    background-color: #a5d7ef ;
}


div{
    text-align: center;
    margin-top: 50px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    background-color: antiquewhite;
    padding: 20px;
}